<!DOCTYPE html>
<html>
<head>
{% load staticfiles %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="https://unpkg.com/ionicons@4.5.5/dist/css/ionicons.min.css" rel="stylesheet">
</head> 
<body>
<div class="container">
<p class="lead">
People online
</p>
<table class="table table-dark">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
	{% for device in devices %}
        <tr>
            <td>{{ device.id }}</td>
            <td>{{ device.name }}</td>
	    {% if device.active %}
            	<td>
			<i class="icon ion-md-checkmark-circle"></i>
		</td>
	    {% else %}
		<td>
			<i class="icon ion-md-close-circle-outline"></i>
		</td>
	    {% endif %}
        </tr>
	{% endfor %}
    </tbody>
</table>
</div>
</body>
</html>
